@import '../../Constants/colors.scss';

.favorites-cards{
    margin: 30px 10px 0px 10px;
    color: $background-black;
}

.cards-text{
    font-size: 20px;
}

.current-state{
    margin-top: 20px;
}

.image{
    margin: 20px 0 40px 0;
}