$background-black:black;
$background-active: rgb(40, 213, 236);
$background-white:white;
$background-cards:#c9d1d3;
$background-dark:#343A40;
$jumbotron-dark:#797c7e;
$jumbotron-light:#b7dee8;
$border-cards:rgb(145, 144, 144);

