@import '../../Constants/colors.scss';

.cards-text{
    font-size: 20px;
}

.cards-title{
    font-size: 22px;
}
  
.cards-style{
    margin:10px 10px 0 10px;
    background-color: $background-white;
    border: 1px solid $background-black;
}

.icons-day-night{
    margin-top: 20px;
}

.cards-text{
    font-size: 20px;
}

.card-margin{
    margin-top: 20px;
}

.span-width{
    width: 5rem;
}