@import '../../Constants/colors.scss';

.cards-text{
    font-size: 20px;
}

.cards-title{
    font-size: 22px;
}
  
.cards-style{
    margin:10px 10px 0 10px;
    background-color: $border-cards;
    border: 1px solid $background-black;
}

.icons-day-night{
    margin-top: 20px;
}

.favorites-cards{
    margin: 30px 10px 0px 10px;
    color: $background-black;
}

.cards-text{
    font-size: 20px;
}

.current-state{
    margin-top: 20px;
}

.image{
    margin: 20px 0 40px 0;
}

.card-margin{
    margin-top: 20px;
}