.cards-text{
    font-size: 20px;
}

.cards-title{
    font-size: 22px;
}
  
.cards-style{
    margin:10px 10px 0 10px;
    background-color: #c9d1d3;
    border: 1px solid black;
}

.icons-day-night{
    margin-top: 20px;
}

.favorites-cards{
    margin: 30px 10px 0px 10px;
    color: black;
}

.cards-text{
    font-size: 20px;
}
