@import '../../Constants/colors.scss';

.search{
  width:50%;
  margin: 0 auto;
  padding: 40px 0;
}
.icons{
  width:20px;
  height:20px;
  margin-right: 15px;
}

.search-dropdown-style{
  width:100%;
  margin:auto 5px;
}

.state-of-weather{
  font-size: 70px;
  margin-top: 50px;
}

.add-to-favorites{
  width: 180px;
}

.jumbotron-light{
  background-color : $jumbotron-light !important ;
}


.jumbotron-dark{
  background-color : $jumbotron-dark !important ;
}

.cards-list-home{
  margin-top: 130px;
}