.app {
  text-align: center;
}

.dark{
  background-color: #343A40;
  min-height: 100vh;
}
.light{
  background-color: white;
  min-height: 100vh;
}

.dark-text{
  color: black;
}
.light-text{
  color: white;
}

.cards-appear {
  opacity: 0;
}
.cards-appear.cards-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.active{
  color: rgb(40, 213, 236);
}
