@import './Constants/colors.scss';

.app {
  text-align: center;
}

.dark{
  background-color: $background-dark;
}
.light{
  background-color: $background-white;
}

.dark-text{
  color: $background-black;
}
.light-text{
  color: $background-white;
}

.cards-appear {
  opacity: 0;
}
.cards-appear.cards-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.active{
  color: $background-active;
}

.icons-images{
  width: 40px;
  height: 40px;
}

.spinner{
  margin-top: 50px;
}